<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>

    <style>
        body {
            background-color: black;
            margin: 0px;/*This removes the border around the canvas that Phaser adds, making the game actually take up all the available space*/
        }
        #game {
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
            padding: 0;
        }
    </style>
</head>
<body>
    <div id="game"></div>
</body>
</html>
