<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>

    <style>
      html, body {
        margin: 0px;
        height: 100%;
      }
    </style>
  </head>
  <body>
      <!-- vue app injected here game + ui insertion point-->
      <div id="app"></div>
  </body>
</html>
